<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>Gym Manager</title>
    {% endblock %}
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/">Instructor</a>
        <a href="/members">Members</a>
      </div>
    </header>

    {% block content %}{% endblock %}
  </body>
</html>
